<!DOCTYPE html>
<html>
<head>
  <title>Project03: The Signal's Source</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
	<div id="banner">
		<%= image_tag("logo.jpg")%>
		<%= @page_title || "Firefly Catalog"%>
	</div>
	<div id="columns">
		<div id="side">
			<div id="cart">
				<%= render @cart %>
			</div>
			
			<ul>
				<li><a href="http://www....">Home</a></li>
				<li><a href="http://www..../faq">Questions</a></li>
				<li><a href="http://www..../news">News</a></li>
				<li><a href="http://www..../contact">Contact</a></li>
			</ul>
		</div>
		<div id="main">
			<%= yield %>
		</div>
	</div>


</body>
</html>
